@tailwind base;
@tailwind components;
@tailwind utilities;



/*the list of style below of these commentary are necesaries for the correct view of webside
these was including because tailwind have a preset color and dimensions, for these reaseon
is necessary complement whit personalize style. for other hand almost or all other classes including 
in the framework (Tail Wind) will by used to customize the components in the apps*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.box{
  width: 100%;
  background-color: #D7F0E6;
}
.w-t{
  width: 52%;
}

.logo{
  width: 71.75%;
}

.line{
  color: #14915E;
  background-color: #14915E;
  height: 3px;
}
.bc{
  background-color:#D7F0E6 ;
  border: 1px solid #14915E;
}
button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 2.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-primary{
  color: #ffffff;
  background-color: #14915E;
}
.btn-secondary{
  border: 1px solid #14915E;
  color:#14915E;
  background-color: #ffffff;
}

nav{
  background-color:#14915E;;
}

.bg-green{
  background-color: #14915E;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.icon{ 
  fill:white;
}

.pborder{
  border:solid 0.7em #14915E;
  border-radius: 2em 5em;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}